
@using Hands.Common.Common
@model Hands.ViewModels.Models.catogaries.categories

@{
    ViewBag.Title = "Categories";
}


<script type="text/javascript">

    var right =
        '@(HandSession.Current.AccessList.Any(x => x.ProjectId == HandSession.Current.ProjectId && x.RoleId == HandSession.Current.RoleId && x.AccessLevelId == CommonConstant.RightLevelEnum.view.ToInt() && x.MenuId == CommonConstant.MenuList.Category.ToInt()))';

    if (right === 'False') {
        window.location.href = '@Url.Action("Index","Default")';
    }
</script>

<style>
    .popup {
        position: fixed;
        background: #5f5f5f8c;
        width: 100%;
        padding-left: 30%;
        top: 0;
        padding-top: 21%;
        height: 274%;
    }

    .m-footer {
        display: none
    }

    .titlehead {
        font-size: 22px;
        color: #676767;
        padding-top: 12px;
    }
</style>


<div id="TargeDiv">
    <div class="m-content">


        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <div class="" style="    padding: 6px;">
                    @using (Ajax.BeginForm("Create", "Content",
                        new AjaxOptions
                        {
                            LoadingElementId = "resultLoadingDiv",
                            InsertionMode = InsertionMode.ReplaceWith,
                            OnBegin = "ShowProcessingMsg",
                            OnComplete = "HideProcessingMsg",
                            OnSuccess = "successEdit",
                            UpdateTargetId = "TargeDiv"

                        },
                        new { @id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal" style="    padding-left: 14px;">
                            <h4 class="titlehead">Create Categories</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*@{
                                    var marviSelectListItems = Model.Marvis.Select(r => new SelectListItem { Text = r.FullName, Value = r.AppUserId.ToString() }).ToList();
                                }
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AppUserId, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(f => f.AppUserId, marviSelectListItems, "Select", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AppUserId, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @Html.Label("Category Name English", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Category Name Urdu", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CategoryNameUrdu, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryNameUrdu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Category Name Sindhi", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CategoryNameSindhi, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryNameSindhi, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            @*<div class="form-group">

                                    @Html.Label("CreatedAt", new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">

                                        <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose ="true">
                                            @Html.TextBoxFor(x => x.CreatedAt, new { @class = "form-control", id = "data-date", autocomplete = "off", @readonly = "readonly" })
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@





                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.RoleId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6" style="padding-bottom: 16px;">
                                    <input type="submit" value="Save" class="edit-button btn btn-primary top-button" />
                                    <a href="~/Content/category?class=m-scroll-top"><span class="fa fa-arrow-circle-o-left col-md-offset-2" style="font-size: 36px;    float: right;"></span></a>
                                </div>

                            </div>

                            <div id="resultLoadingDiv" hidden class="popup">
                                <img src="~/Content/Images/abc.gif" />
                                @*<img id="image" src="~/Content/Images/ajax-loader.gif"/>*@
                            </div>
                        </div>
                    }

                </div>

            </div>
            <!--end::Portlet-->
        </div>




    </div>


</div>






<script type="text/javascript">



    function ShowProcessingMsg() {
        $('#image').removeAttr('hidden');

    }
    function HideProcessingMsg() {

        $('#image').attr('hidden', '');
    }
    function successEdit() {
        swal("Successful!", "Your record has been successfully saved!", "success");
    }
    // Start datpicker

    $(document).ready(function () {

        var date_input = $('input[name="Dob"]');
        //var container = $('.container-fluid abc');
        var options = {
            format: 'dd/mm/yyyy',
            //container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })

    // End datpicker



</script>




