@using System.Web.Razor.Generator
@model Hands.ViewModels.Models.ProjectAcessMenuModel.ProjectAcecssMenu
@{
    ViewBag.Title = "Prject Menu Access";

}

<noscript>
    <link rel="stylesheet" href="~/jQuery-File-Upload-9.11.2/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="~/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui-noscript.css">
</noscript>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />



<script type="text/javascript">
    var dd ;
    $(

        function() {


            $('#jstree_demo_div') // listen for event
                .on('changed.jstree', function (e, data) {
                    var i, j, r = [];
                    for(i = 0, j = data.selected.length; i < j; i++) {
                        r.push(data.instance.get_node(data.selected[i]).id);
                    }
                    dd = "";
                    //$('#Id').val(r.join(', '));
                    //$('#jstree_demo_div').html('Selected: ' + r.join(', '));
                    dd=r;

                })
                .jstree({ 'core' : {
                    'data' :  @Html.Action("DocumentCategoryHierarchy")
                }, "checkbox": {
                   "whole_node" :true,
                   "keep_selected_style": true,
                   "cascade": "down",
                   "three_state": true,
                   "two_state": false

                    },
                    "plugins": ["checkbox"]

                });

        }
    );
    @*$("#submit").click(function() {
        

        var data = dd;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Indexx")', // we are calling json method
            dataType: 'json',
            data: { test: data }

        });

    });*@

</script>

@using (Html.BeginForm("Indexx", "ProjectAccessMenu", FormMethod.Post, new { id = "SubmitForm" }))
{

    var rolesSelectListItems = Model.Projects.Select(r => new SelectListItem { Text = r.Name, Value = r.Id.ToString() }).ToList();

    <div class="col-md-4">
        @Html.Label("Project", new { @class = "control-label col-md-4" })
        <div class="col-md-12">
            @Html.DropDownListFor(f => f.ProjectId, rolesSelectListItems, "Select", new { @class = "form-control" })

        </div>
    </div>
    <div id="jstree_demo_div"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" id="submit" value="Save" class="edit-button btn btn-primary top-button" />
        </div>

    </div>
}

@section scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
}


<script language="jscript">
    //$(document).Load(function () {
    //    $('#1_anchor').hide();
    //    $("#jstree_demo_div").jstree('open_all');
    //});

    $("#submit").on('click',
        function () {
            
            var values =  dd ; //
            var theIds = JSON.stringify(values);
            var ProjectId = $('#ProjectId').val();

    $.ajax({
        type: "POST",
        url: '@Url.Action("Indexx")', // the method we are calling

        data: { data1: theIds, projectId: ProjectId },
       // dataType: "json",
        success: function (result) {
            alert('Yay! It worked!');
        },
        error: function (result) {
            alert('Oh no :(');
        }
    });

        });



</script>