@model Hands.ViewModels.Models.Graph.Graph
@{
    ViewBag.Title = "Graphs";
    Layout = null;
}

<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">LHV</th>
                <th scope="col">MARVI WORKER</th>
                <th scope="col">MWRA's</th>
            </tr>
        </thead>
        <tbody class=" table-hover">
            @foreach (var item in Model.LhvDetailsList)
            {
                <tr class="table-secondary">
                    <td>@item.LHVName</td>
                    <td>@item.MarviCount</td>
                    <td>@item.mwraCount</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>TOTAL</td>
                <td>@Model.LhvDetailsList.Sum(i => i.MarviCount)</td>
                <td>@Model.LhvDetailsList.Sum(i => i.mwraCount)</td>
            </tr>
        </tfoot>
    </table>
</div>