@model Hands.Data.HandsDB.SpNewUserClientListingReturnModel

@{
    ViewBag.Title = "View New User Client";

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .popup {
        position: fixed;
        background: #5f5f5f8c;
        width: 100%;
        padding-left: 30%;
        top: 0;
        padding-top: 21%;
        height: 274%;
    }

    .m-footer {
        display: none
    }

    .titlehead {
        font-size: 22px;
        color: #676767;
        padding-top: 12px;
    }
    .label {
        font-size: 20px;
        font-weight: 500;
    }
    .label1 {
        
        font-weight: 500;
    }
</style>

<div id="TargeDiv">
    <div class="m-content">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <div class="" style="    padding: 6px;">
                    @using (Ajax.BeginForm("Create", "Mwra",
new AjaxOptions
{
LoadingElementId = "resultLoadingDiv",
InsertionMode = InsertionMode.Replace,
OnBegin = "ShowProcessingMsg",
OnComplete = "HideProcessingMsg",
OnSuccess = "success",
UpdateTargetId = "TargeDiv"

},
new { @id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="    padding-left: 14px;">
                        <h4 class="titlehead">New User Clients Detail</h4>
                        <hr />

                        <div class="form-group">
                            @Html.Label("CR Code", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.CR_Code, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.Label("Date Of Client Generation", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.date_of_client_generation, new { @class = "form-control" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.Label(" Occasional", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.occasional, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(" Referral", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.referral, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("In case of Current User, Date of Starting", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.date_of_starting, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("History of Irregular Menstrual Cycle", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.history, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("LMP (Date)", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.lmp_date, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(" BP", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.bp, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Weight", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.weight, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Jaundice", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.jaundice, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Pallor/Anemia", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.polar_anemia, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Foul Smelling Vaginal Discharge", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.foul, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Pain Lower abdomen", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.pain_lower, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Contraceptive", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.contraceptual, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Quantity", new { @class = "control-label col-md-2 label1" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6" style="padding-bottom: 16px;">
                                <a href="/MwraClient/MwraClientLisingActionResult?class=m-scroll-top"><span class="fa fa-arrow-circle-o-left col-md-offset-2" style="font-size: 36px;    float: right;"></span></a>
                            </div>

                        </div>

                        @Html.Label("Client Location:", new { @class = "control-label col-md-2 label"  })
                        <div id="map" style="width:100%;height:500px;"></div>
                       

                        <div id="resultLoadingDiv" hidden class="popup">
                            <img src="~/Content/Images/abc.gif" />
                            @*<img taluqaId="image" src="~/Content/Images/ajax-loader.gif"/>*@
                        </div>
                    </div>
                    }


                </div>

            </div>
            <!--end::Portlet-->
        </div>




    </div>


</div>



<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(@Model.latitude, @Model.longitude);
        var mapOptions = { center: myCenter, zoom: 15 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW5hlD-IrhupiN5WODdz3yOr9YP38R6zM&callback=myMap"></script>




