@model Hands.ViewModels.Models.appUser

@{
    ViewBag.Title = "View";
}

<style>
    .popup {
        position: fixed;
        background: #5f5f5f26;
        width: 100%;
        padding-left: 30%;
        top: 0;
        padding-top: 21%;
        height: 274%;
    }

    .m-footer {
        display: none
    }

    .titlehead {
        font-size: 22px;
        color: #676767;
        padding-top: 12px;
        padding-left: 14px;
    }
</style>

<div id="TargeDiv">
    <div class="m-content">


        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <div class="form-horizontal" style="    padding-left: 14px;">

                    <h4 class="titlehead">View Appuser (LHV)</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("App User Id", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.AppUserId, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.AppUserId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Full Name", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Full Name (Urdu)", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FullNameUrdu, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FullNameUrdu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Full Name (Sindhi)", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FullNameSindhi, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FullNameSindhi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Marital Status", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.MaritalStatus, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Father/Husband Name", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FatherHusbandName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FatherHusbandName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("D O B", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Dob, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Age as per CNIC", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.AgePerCnic, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.AgePerCnic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("CNIC", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Cnic, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Cnic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("CNIC Validty End", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.CnicValidtyEnd, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CnicValidtyEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Contact Number", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Qualification", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", maxlength = "3", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Number of Marvi Workers", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TotalMarviAssigned, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.TotalMarviAssigned, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Population Covered", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PopulcationCovered, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.PopulcationCovered, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("username", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Password", new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Pwd, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
            @Html.Label("Plain Password", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.PlainPassword, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PlainPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Region Id", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.RegionId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Taluqa Id", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.TaluqaId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TaluqaId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Union Council Id", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.UnionCouncilId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.UnionCouncilId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Village Name", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("LHV Assign", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.LhvAssigned, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.LhvAssigned, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("User Type", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.UserType, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label("No. Of House Hold", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.NoOfHouseHolds, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NoOfHouseHolds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Target MWRAS", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.TargetMwras, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TargetMwras, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nearby Public Faculty", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.NearbyPublicFaculty, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NearbyPublicFaculty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nearby Private Faculty", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.NearbyPrivatefaculty, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NearbyPrivatefaculty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Of Join", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.DateOfJoin, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DateOfJoin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Of Train", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.dateOfTrain, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.dateOfTrain, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Created Date", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
            </div>
        </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6" style="padding-bottom: 16px;">
                            <a href="~/AppUser/Index?class=m-scroll-top"><span class="fa fa-arrow-circle-o-left col-md-offset-2" style="font-size: 36px;    float: right;"></span></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--end::Portlet-->
        </div>




    </div>


</div>






